* {
  margin: 0;
  padding: 0;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
  outline: none
}
body {
  background: #141414;
}
.head {
  position: relative;
  background-color: transparent;
  height: 68px;
  padding: 0 60px;
  align-items: center;
  display: flex;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
  transition: background-color .4s;
  z-index: 4;
  width: -webkit-fill-available;
}
.netflix {
  width: 93px;
  margin-right: 25px;
  height: auto;
  cursor: pointer;
}
.list {
  display: flex;
  list-style:none;
}
.list li:nth-child(1) a {
  font-weight: 700;
  cursor: alias;
}
.list li {
  margin-left: 20px;
  font-size: 14px;
}
.list li a {
  text-decoration:none;
}
.rigth-header {
  position: absolute;
  right: 2.9%;
  display: flex;
  justify-content: flex-end;
}
.rigth-header div {
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.rigth-header div p {
  cursor: pointer;
}
.icono {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  line-height: 1;
  padding: 2px 6px 3px;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
}
.rigth-header div:nth-child(2) {
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 0 22px 0 8px;
}
.search {
  width: 19px;
}
.present {
  width: 20px;
  margin-right: 10px;
}
.campana {
  width: 22px;
}
.perfil {
  width: 32px;
}
.arrow {
  width: 9px;
}
.body {
  width: 100%;
  height: 130vh;
  position: absolute;
  top:0px;
}
.body .dar {
  background: linear-gradient(to top,#000000,transparent 30%);
  width: 100%;
  height: 44vw;
  z-index: auto;
}
#my-video {
  top: -7vw;
  height: 56vw;
  z-index: 1;
}
.firstvideo {
  position: absolute;
  background-position: center center;
  background-size: cover;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
  z-index: -1;
  width: 100%;
  height: 45vw;
}
.description {
  position: absolute;
  padding: 0 60px;
  z-index: 2;
  top: 14.5vw;;
}
.top10 {
  width: 50px;
  margin-right: 15px;
}
.firsttitle {
  width: 27vw;
  margin-bottom: 0.6vh;
  transition-duration: 600ms;
  transition-delay: 200ms;
  position: relative;
  bottom: 0;
}
.filterdark {
  background: linear-gradient(77deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 85%);
  position: absolute;
  height: 56.25vw;    
  top: 0;
  left: 0;
  width: 100%;
  right: 26.09%;
  bottom: 0;
  opacity: 1;
  z-index: 2;
  transition: opacity .5s;
}
.synopsis {
  color: #fff;
  font-weight: 400;
  line-height: 26px;
  width: 55%;
  font-size: 1.4vw;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  margin-top: 0.5vw;
}
h2 {
  margin: 1vw 0;
}
.reproducir {
  background-color: white;
  color: black;
}
.informacion {
  background-color: rgba(109,109,110,0.7);
  color: white;
}
.buttons {
  margin-top: 1.5vw;
  display: flex;
  position: absolute;
  top: 19vw;
}
.buttons button {
  font-size: 17px;
  margin-right: 2vw;
  margin-bottom: 1vh;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 1.5vh 2.5vw 1.5vh 1.5vw;
  display: flex;
  align-items: center;
  font-weight: bold;
  
}
.buttons button:hover {
  opacity: 0.7;
}
.buttons button img{
  width: 18px;
  display: flex;
  left: -15px;
}
.descriv {
  display: flex;
}
.playlist {
  position: absolute;
  z-index: 3;
  top: 41vw;
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: fit-content;
  bottom: -1px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.categ {
  margin: 3vw 0;
  margin-bottom: 10px;
}
.playlist .categ:nth-child(1) {
  margin: 0vw 0;
}
h3 {
  display: table-cell;
  vertical-align: bottom;
  line-height: 1.25vw;
}
.lists {
  display: inline-flex;
  margin-bottom: 10px;
  font-size: 1.4vw;
  font-weight: 700;
  margin: 0 4% 10px 4%;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
}
.lists div {
  padding-left: 12px;
  display: flex;
  align-items: center;
}
.lists div a{
  font-size: .9vw;
  max-width: 0px;
  line-height: .8vw;
  transition: opacity 5s,max-width 1s, transform 750ms, display 1s;
  white-space: nowrap;
  vertical-align: bottom;
  cursor: pointer;
  opacity: 1;
  display: none;
}
.right-arrow {
  width: 5%;
  display: none;
  transition: transform 750ms, display 1s, right 1s;
  font-size: .9vw;
  right: 0;
  margin-left: 2px;
  vertical-align: bottom;
  position: relative;
}
.age {
  z-index: 2;
  position: absolute;
  right: 0px;
  display: flex;
  top: 34.5vw;
}
.agenumber {
  border: solid 3px #dcdcdc;
  border-style: none none none solid;
  background-color: rgba(51,51,51,.6);
  font-size: 1.1vw;
  padding: .5vw 3.5vw .5vw .8vw;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 2.4vw;
  box-sizing: border-box;
}
h1 {
  background-color: yellow;
  margin-right: .5em;    
  font-size: 1vw;
  color: black;
  border-radius: 5px;
  width: 35px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play {
  width: 2.7vw;
  height: 2.7vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.1vw 0 0;
  border-radius: 90%;
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  border-style: groove;
  cursor: pointer;

}
.play:hover {
  background-color: rgba(255, 255, 255, 0.2);;
}
.play img {
  width: 50%;
}
.video {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 16.6%;
  margin-right: 3px;

}
.videos {
  padding-top: 5px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: visible;
  position: relative;
  padding: 0 4%;
  white-space: nowrap;
  transform: translate3d(0,0,0);
  transition: translate3d cubic-bezier(0, 0.76, 1, 0.11);
}
.button-rigth {
  background: rgba(20,20,20);
  opacity: 0.5;
  display: flex;
  color: #fff;
  position: absolute;
  right: 0;
  z-index: 20;
  width: 3.2%;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 8.5vw;
}
.button-rigth img {
  width: 33%;
  transition: opacity 300ms, width 550ms;
  opacity: 0;
}
.indicator {
  margin: 0px 0 12px 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  top: 0;
  display: block;
  opacity: 0;
  z-index: 8;
  cursor: alias;
}
.indicator li {
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: #4d4d4d;
  margin-left: 1px;
}
.active {
  background-color: #aaa !important;
}
.disappear {
  opacity: 0;
  transition-duration: 600ms;
  transition-delay: 200ms;
  transform: translate3d(0px, 66px, 0px);
}
.animationtitle {
  transform-origin: left bottom;
  transform: scale(0.6) translate3d(0px, 66px, 0px);
  width: 36vw;
}
.moreInformation {
  position: absolute;
  top:0;
}
.dark {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 98vw;
  height: 100vh;
  z-index: 10;
  justify-content: center;
  display: flex;
}
.bodyInformation {
  position: absolute;
  top: 2em;
  margin-bottom: 2em;
  width: 110vh;
  height: auto;
  background-color: black;
}
.vidInfo {
  position: relative;
  overflow: hidden;
  height: 62vh;
  width: 110vh;
}
.videoInformacion {
  z-index: -1;
  position: relative;
  top: -59px;
  height: 62vh;
  width: 110vh;
}
.likedislike .reproducir {
  font-size: 1.1rem;
  margin-right: 1rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.7rem 2rem 0.7rem 2.4rem;
  display: flex;
  font-weight: bold;
}
.likedislike .reproducir img {
  width: 17px;
  display: flex;
  left: -15px;
}
.titleInfo {
  width: 32%;
  position: relative;
  bottom: 50%;
  left: 3em;
}
.likedislike {
  display: flex;
  position: relative;
  align-items: center;
  bottom: 45%;
  left: 3em;
  z-index: 2;
}
.muteButton {
  width: 2.7vw;
  height: 2.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90%;
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  border-style: groove;
  cursor: pointer;
  right: 6em;
  position: absolute;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.muteButton:hover {
  opacity: 1;
}
.muteButton img {
  width: 50%;
}
.closeButton {
  width: 2.7vw;
  height: 2.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90%;
  border-width: 0px;
  border-style: groove;
  cursor: pointer;
  right: 1em;
  position: absolute;
  bottom: 85%;
  background-color: #181818;
  z-index: 2;
}
.closeButton img {
  width: 33%;
}
.dar {
  background: linear-gradient(to top,#000000,transparent 50%);
  position: relative;
  width: 100%;
  height: 60vh;
  z-index: 1;
}
.descriptionInformation {
  display: flex;
  margin: 0 3em 0 3em;
}
.coincidencia div{
  display: flex;
  align-items: center;
  margin: .8em 0;
}
.coincidencia {
  width: 70%;
}
.synop {
  margin-bottom: .5em;
  line-height: 27px;
  font-size: 18px;
}
.green {
  transition: max-width 550ms cubic-bezier(.86,0,.07,1) 1.65s,opacity 150ms linear 2.2s;
  max-width: 300px;
  opacity: 1;
  color: #46d369;
  display: flex;
  white-space: nowrap;
  font-weight: 700;
  max-width: 100%;
  margin: .25em .5em .25em 0;
}
.year {
  margin-right: .5em;
}
.infos {
  color: #777;
  font-size: 14px;
  line-height: 20px;
}
h4 {
  font-size: 14px;
  line-height: 20px;
  margin: .5em;
  margin-left: 0;
  word-break: break-word;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
a:hover {
  text-decoration: underline;
}
.reparto {
  width: 220px;
  margin-left: 30px;
  font-weight: 550;
}
.move {
  transform: translate3d(-116.66666666666667%, 0px, 0px)
}